<div class='card'>
    <form (ngSubmit)="AddProfile1()">
<div class='card-header'>
    {{title}}
    <a routerLink='/signup'>.   Seller Signup</a>
</div> 
<div class='card-body'>
    <div class='table-responsive'>
        <table class='table'>
            <tbody>
                
                <tr>
                    <td><label> Name</label></td>
                    <td><input type="text" name="s_name"[(ngModel)]="signup1Item.name"/></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="email" name="s_email"[(ngModel)]="signup1Item.email"/></td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td><input type="password" name="s_password"[(ngModel)]="signup1Item.password"/></td>
                </tr>
               
               
                <tr>
                    <td></td>
                    <td><input type="submit" value="signup" /></td>
                </tr>
                







            </tbody>
        </table>

    </div>
</div>       
    </form>

</div>



